#externo1 {
    font-size: 14px;
    font-family: "Gill sans", "Gils sans MT", Calibri, "Trebuchet MS", "sans-serif";
    color: brown;
    background-color: lightblue;
    inline-size: 1.5;
}
@media all and (min-width: 600px){
    h2 {
        background-color: green;
    }
    ul {
        background-color: orange;
    }
}
@media all and (min-width: 1280px){
    h2 {
        background-color: pink;
    }
    ul {
        background-color: darkblue;
    }
}
